@model Projeto_Integrador.ViewModel.DataVM

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h1>Create</h1>

<h4>DataVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDLocal" class="control-label">Nome Local</label>
                <select class="form-select" asp-for="IDLocal" asp-items="@ViewBag.IdLocais">
                    <option selected value="">Selecione um Local</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Disponivel" class="control-label"></label>
                <input asp-for="Disponivel" class="form-control" />
                <span asp-validation-for="Disponivel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="_ManageNav">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
