@model Projeto_Integrador.Models.Models.CadDataHoraDisp

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocal" class="control-label">Local</label>
                <select class="form-select" asp-for="IdLocal" asp-items="@ViewBag.IdLocais">
                    <option selected value="">Selecione um Cliente</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="DataDisp" class="control-label">Datas Disponíveis</label>
                <input asp-for="DataDisp" class="form-control" />
                <span asp-validation-for="DataDisp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disp" class="control-label">Disponibilidade</label>
                <input asp-for="Disp" class="form-control" />
                <span asp-validation-for="Disp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
