@model Projeto_Integrador.Models.Models.CadDoacao
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-header d-flex justify-content-between align-items-center bg-light">
    <h5 class="modal-title">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm())
{
    <form asp-action="Edit" class="container mt-4 ">
        <div class="row m-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-md-6">
                <div class="form-group">
                    <label asp-for="Id" class="control-label">Código da Doação:</label>
                    <input asp-for="Id" class="form-control" disabled/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdFichaUsuario" class="control-label">Doador:</label>
                    <select class="form-select mb-2" asp-for="IdFichaUsuario" asp-items="@ViewBag.IdFichaUsuario" disabled>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="IdData" class="control-label">Data e Hora:</label>
                    <select class="form-select mb-2" asp-for="IdData" asp-items="@ViewBag.IdData" disabled>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="IdLocal" class="control-label">Local:</label>
                    <select class="form-select mb-2" asp-for="IdLocal" asp-items="@ViewBag.IdLocal" disabled>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="IdStatus" class="control-label">Status da Doação:</label>
                <select class="form-select mb-2" asp-for="IdStatus" asp-items="@ViewBag.IdStatus">
                    <option selected value="">Modifique o Status</option>
                </select>
            </div>
            
            <div class="modal-footer bg-light">
                <div class="ms-auto">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
    </form>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
