@model Projeto_Integrador.ViewModel.GenDoacoesVM
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-header d-flex justify-content-between align-items-center bg-light">
    <h5 class="modal-title">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm())
{
    <form asp-action="Edit" class="container mt-4 ">
        <div class="row m-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-md-6">
                <div class="form-group">
                    <label asp-for="IdDoa" class="control-label">Código da Doação:</label>
                    <input asp-for="IdDoa" class="form-control" disabled />
                    <span asp-validation-for="IdDoa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeDoador" class="control-label">Código da Doação:</label>
                    <input asp-for="NomeDoador" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <input asp-for="IdFichaUsuario" class="form-control" hidden />
                    <span asp-validation-for="IdFichaUsuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataDisp" class="control-label">Código da Doação:</label>
                    <input asp-for="DataDisp" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <input asp-for="IdData" class="form-control" hidden />
                    <span asp-validation-for="IdData" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeLocal" class="control-label">Código da Doação:</label>
                    <input asp-for="NomeLocal" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <input asp-for="IdLocal" class="form-control" hidden />
                    <span asp-validation-for="IdLocal" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="IdStatus" class="control-label">Status da Doação:</label>
                <select class="form-select mb-2" asp-for="IdStatus" asp-items="@ViewBag.IdStatus">
                    <option selected value="">Modifique o Status</option>
                </select>
            </div>

            <div class="modal-footer bg-light">
                <div class="ms-auto">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}