@page
@model LoginModel

@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<section class="">
    <div class="container py-5 h-100 mt-4">
        <div class="row d-flex align-items-center justify-content-center h-100 ">

            <div class="col-md-8 col-lg-7 col-xl-5 mb-0 text-center ">
                <h1 class="display-6 fw-bold ls-tight mb-0">
                    Compartilhe nas <br />
                    <span class="custom-text-color mb-0" style="color: #dc3545">Redes Sociais!</span>
                </h1>
                <img src="~/imgs/social.svg" class="img-fluid h-50 mb-0" alt="Social image">
            </div>

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 bg-white shadow-sm rounded-3 ">
                <form id="account" method="post" class="mt-5 mb-5 ms-lg-5 m-md-5  ">

                    <div class="d-flex align-items-center mb-3 pb-1 mb-4 ">
                        <img src="~/imgs/logo-clinica.svg" style="height: 3rem" />
                        <span class="h1 fw-bold mb-0 ms-lg-3">DSDV</span>
                    </div>

                    <h4 class="text-muted">Bem vindo de volta!</h4>
                    <hr />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-outline mb-4">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="form-label"></span>
                    </div>

                    <div class="form-outline mb-4">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div>
                        <div class="form-check mb-4 mt-1">
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="btn btn-danger btn-lg btn-block mb-4 w-100 shadow-sm">Entrar</button>
                    </div>

                    <div>
                        <p class="text-center text-muted mt-3 mb-0">
                            Não tem uma conta?
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="fw-bold text-body"> Registre-se!</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
