@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<section class="">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-4">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-white shadow-sm w-100" style="border-radius: 10px;">
                    <div class="card-body p-5">

                        <div class="text-center mb-4 mt-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="~/imgs/logo-clinica.svg" style="height: 3rem" />
                                <span class="h1 fw-bold mb-0 ms-lg-3">DSDV</span>
                            </div>

                            <h4 class="mt-4 text-muted">Crie sua conta</h4>

                            <hr class="" />
                        </div>



                        <form id="registerForm" class="mx-1 mx-md-4" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




                            <div class="mb-2 ">
                                <label asp-for="Input.Nome" class="form-label"></label>
                                <input asp-for="Input.Nome" class="form-control form-control-lg" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.Nome" class="text-danger"></span>
                            </div>

                            <div class="mb-2">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="mb-2">
                                <label asp-for="Input.Telefone" class="form-label"></label>
                                <input asp-for="Input.Telefone" class="form-control form-control-lg" autocomplete="phone" aria-required="true" />
                                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
                            </div>

                            <div class="mb-2">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="mb-2">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="text-center mt-4 mb-4 ">
                                <button id="registerSubmit" type="submit" class="btn btn-danger btn-lg text-light w-100 shadow-sm">Registrar</button>
                            </div>

                            <p class="text-center text-muted mt-3 mb-0">
                                Have already an account? <a href="#!"
                                                            class="fw-bold text-body"><u>Login here</u></a>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
