@{
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Entre em Contato Conosco!</h1>
                <br>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h3>Hemocentro Hospital Stella Maris</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" />
                    R. Maria Candida Pereira, 568 - Resende <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-8500<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    stella.maris@contato.com
                </span>
            </div>
            <div class="col-md-6">
                <h3>Hemocentro Irmã Dora</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" />
                    Avenida Jefferson Geraldo Bruno, 987 - Barra Mansa <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-5588<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    irma.dora@gmail.com
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Hemocentro São Lucas</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" />
                    R. Santo Antônio, 95 - Volta Redonda <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-6040<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    hemocentro.saolucas@gmail.com
                </span>
            </div>
            <div class="col-md-6">
                <h3>Hospital G. Vargas</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" />
                    Alameda dos Lírios, 300 - Resende <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-1350<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    hospitalgvargas@contato.com
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Hemocentro M Lourdes</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" />
                    Avenida Beira Rio, 5 - Resende <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-5000<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    hemocentro.mlourdes@gmail.com
                </span>
            </div>
            <div class="col-md-6">
                <h3>Hospital Albert Einstein</h3>
                <span>
                    <img class="cardImg" src="~/imgs/pin.svg" style="width: 1rem; height: 1rem;" />
                    Rua São Francisco de Assis, 300 - Resende <br />
                    <img class="cardImg" src="~/imgs/telephone.svg" />
                    Tel.: 031 (24) 3353-1678<br />
                    <img class="cardImg" src="~/imgs/email.svg" />
                    hospital.ae@contato.com
                </span>
            </div>
        </div>
    </div>
}
