@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row1">
        <div class="col">
            <strong>Doe Sangue e Mude <br> Uma História.</strong>
            </br>
            <span>Choose from over 2,000+ courses on topics like user interface design, <br> graphic design, front-end development, and much more...</span>
            <br>
            <div class="buttons">
                <button class="submitButton" type="submit">Inscreva-se</button>
                <button class="sobreButton" href='#' role='button'>Mais Sobre</button>
            </div>
        </div>
        <div class="col">
            <img src="~/imgs/blood-donate.svg" />
        </div>
    </div>

    <div class="row1">
        <div class="dados">
            <div class="col">
                <strong>3,5 milhões</strong>
                <span>É o número de brasileiros que necessitam de transfusões de sangue por ano.</span>
            </div>
            <div class="col">
                <strong>1,4%</strong>
                <span>É a estimativa de brasileiros que doam sangue.</span>
            </div>
            <div class="col">
                <strong>450ml</strong>
                <span>É a quantidade de sangue coletada em uma doação.</span>
            </div>
        </div>
    </div>

    <div class="row1">
        <div class="col">
            <img src="~/imgs/blood-test.svg" />
        </div>
        <div class="col">
            <strong>Coleta Segura</strong>
            <br/>
            <span>Em nossa rede, todo sangue coletado é testado e só é liberado para uso após ter a segurança comprovada. Além da sorologia. 100% da coleta passa por um teste desenvolvido pelo Instituto de Tecnologia em Imunobiológicos (Bio-Manguinhos), que reduz a chamada janela imunológica para HIV, hepatites C e B - tempo em que o vírus já está presente no doador e ainda não foi possível detectá-los.</span>
        </div>
    </div>



    <div class="row1">
        <div class="requirements">
            <div clas="col">
                <img src="~/imgs/blood-requirements.svg" />
            </div>

            <div class="col">
                <strong>Confira os requisitos para ser um doador!</strong>
                <ul>
                    <li class="text-white">Estar em boas condições de saúde.</li>
                    <li class="text-white">Ter entre 16 e 29 anos.</li>
                    <li class="text-white">Pesar no mínimo 50kg.</li>
                    <li class="text-white">Estar descansado.</li>
                    <li class="text-white">Estar alimentado.</li>
                    <li class="text-white">Apresentar documentos pessoais.</li>
                </ul>
                <div class="buttons">
                    <button class="btnQueroDoar" href='#' role='button'>Quero Doar!</button>
                </div>
            </div>
        </div>
    </div>
</div>