@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row1">
        <div class="col">
            <strong>Doe Sangue e Mude Uma História.</strong>
            <span>O processo de doar sangue dura, em média, 40 minutos a 1 hora. Você pode salvar vidas em uma simples e rápida expedição!</span>
            <br>
            <div class="buttons">
                <button class="submitButton" type="submit"  asp-area="" asp-controller="Home" asp-action="Register">Inscreva-se</button>
                <button class="sobreButton" href='#' role='button'>Mais Sobre</button>
            </div>
        </div>
        <div class="col">
            <img src="~/imgs/blood-donate.svg" />
        </div>
    </div>


    <div class="row1">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="~/imgs/people.svg" />
                <div class="card-body">
                    <strong class="card-title">3,5 milhões</strong>
                    <p class="card-text">É o número de brasileiros que necessitam de transfusões de sangue por ano.</p>
                </div>
            </div>
            <div class="card">
                <img src="~/imgs/statistic.svg" />
                <div class="card-body">
                    <strong class="card-title">1,4%</strong>
                    <p class="card-text">É a estimativa de brasileiros que doam sangue.</p>

                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/imgs/blood.svg" />
                <div class="card-body">
                    <strong class="card-title">450ml</strong>
                    <p class="card-text">É a quantidade de sangue coletada em uma doação.</p>
                </div>
            </div>
        </div>
    </div>
    






    <div class="row1">
        <div class="col">
            <img src="~/imgs/blood-test.svg" />
        </div>
        <div class="col">
            <strong>Coleta Segura</strong>
            <br/>
            <span>Em nossa rede, todo sangue coletado é testado e só é liberado para uso após ter a segurança comprovada. Além da sorologia. 100% da coleta passa por um teste desenvolvido pelo Instituto de Tecnologia em Imunobiológicos (Bio-Manguinhos), que reduz a chamada janela imunológica para HIV, hepatites C e B - tempo em que o vírus já está presente no doador e ainda não foi possível detectá-los.</span>
        </div>
    </div>



    <div class="row1">
        <div class="requirements">
            <div clas="col">
                <img src="~/imgs/blood-requirements.svg" />
            </div>

            <div class="col">
                <strong>Confira os requisitos para ser um doador!</strong>
                <ul>
                    <li class="text-white">Estar em boas condições de saúde.</li>
                    <li class="text-white">Ter entre 16 e 29 anos.</li>
                    <li class="text-white">Pesar no mínimo 50kg.</li>
                    <li class="text-white">Estar descansado.</li>
                    <li class="text-white">Estar alimentado.</li>
                    <li class="text-white">Apresentar documentos pessoais.</li>
                </ul>
                <div class="buttons">
                    <button class="btnQueroDoar" href='#' role='button'>Quero Doar!</button>
                </div>
            </div>
        </div>
    </div>
</div>