@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="loginArea">

                    <img src={logoClinica} />

                    <strong>Bem vindo(a) de volta!</strong>
                    <br></br>
                    <span>Não tem uma conta?</span>
                    <a class="navLink" href="#">Registrar-se</a>


                    <div class="secondLayer">
                        <p>E-mail</p>
                        <input type='text' placeholder='  Digite seu e-mail'></input>
                        <p>Senha</p>
                        <input type='password' placeholder='  **********'></input>
                        <button type='submit'>
                            <ArrowLineRight size={20} />
                            Entrar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
