@page
@model Projeto_Integrador.Views.Home.RequisitosModel
@{
    <div class="container">
        <div class="row2">
            <div class="col">
                <h1>Requisitos para Doação de Sangue</h1>
                <span>
                    Na triagem de doadores, a Fundação Pró-Sangue obedece a normas nacionais e internacionais. O alto rigor no cumprimento dessas normas visa oferecer segurança e proteção ao receptor e ao doador.<br>

                    Abaixo estão listados os requisitos básicos e alguns dos principais impedimentos temporários e definitivos para doação de sangue. No entanto, esta lista não esgota os motivos de impedimentos para doação, de forma que outras informações prestadas por você durante a triagem clínica serão consideradas para definir se está apto para doar sangue nesse momento.
                    <hr>
                </span>

            </div>     
        </div>

        <div class="row2">
            <div class="col">
                <h1>Requisitos Básicos</h1>
                <span>
                    » Estar em boas condições de saúde.<br>

                    » Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos, clique para ver documentos necessários e formulário de autorização). <br>

                    » Pesar no mínimo 50kg.<br>

                    » Estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas).<br>

                    » Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).<br>

                    » Apresentar documento original com foto recente, que permita a identificação do candidato, emitido por órgão oficial (Carteira de Identidade física ou cópia autenticada; Carteira de Identidade digital; Cartão de Identidade de Profissional Liberal; Carteira de identificação funcional com foto, filiação, data de nascimento e RG; Carteira de Trabalho e Previdência Social; Carteira Nacional de Habilitação física, com foto e filiação; Carteira Nacional de Habilitação digital, com a presença do QR Code; RNE - Registro Nacional de Estrangeiro; Título de Eleitor Digital, desde que tenha a foto e com o QR Code; Passaporte brasileiro com filiação; e Certificado de Reservista).<br>
                </span>
                <br>
                <h1>Principais impedimentos temporários</h1>
                <span>
                    » Resfriado: aguardar 7 dias após desaparecimento dos sintomas.<br>

                    » Gravidez.<br>

                    » 90 dias após parto normal e 180 dias após cesariana.<br>

                    » Amamentação (se o parto ocorreu há menos de 12 meses).<br>

                    » Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.<br>

                    » Tatuagem, maquiagem definitiva e micropigmentação (sobrancelhas, lábios, etc.): aguardar 12 meses; se feitas em estabelecimento adequado (seguro) e com todos os cuidados necessários (assepsia correta e material descartável), o prazo é de 6 meses.<br>

                    » Situações nas quais há maior risco de adquirir doenças sexualmente transmissíveis: aguardar 6 meses.<br>

                    » Qualquer procedimento endoscópico (endoscopia digestiva alta, colonoscopia, rinoscopia, etc.): aguardar 6 meses.<br>

                    » Extração dentária (verificar uso de medicação) ou tratamento de canal (verificar medicação): por 7 dias.<br>
                    » Cirurgia odontológica com anestesia geral: por 4 semanas.<br>
                    » Acupuntura: com material descartável/agulha própria, aguardar 24 horas; em procedimento não seguro, aguardar 6 meses; se realizada com laser ou sementes: apto.<br>
                    » Vacina contra gripe: por 48 horas.<br>
                    » Vacina contra Coronarivus:<br>
                    - 48 horas após cada dose (Coronavac e Covaxin);<br>
                    - 7 dias após cada dose (AstraZeneca, Pfizer, Janssen-Cilag e Moderna).<br>
                    » Viagem ao exterior para qualquer país impede a doação por 30 dias, após o retorno.<br>
                    » Viagem no Brasil: estados como Acre, Amapá, Amazonas, Rondônia, Roraima, Maranhão, Mato Grosso, Pará e Tocantins são locais onde há alta prevalência de malária. Quem esteve nesses estados deve aguardar 12 meses para doar, após o retorno.<br>
                    » Europa: quem morou na Europa após 1980, verificar aptidão pelo Alô Pró-Sangue (11) 4573-7800<br>
                    »Doenças:<br>
                    » Herpes labial ou genital: apto após desaparecimento total das lesões.<br>
                    » Herpes Zoster: apto após 6 meses da cura (vírus Varicella Zoster).<br>
                    » Malária: quem esteve em países com alta prevalência de malária deve aguardar 12 meses após o retorno para doar. (critério semelhante ao dos estados brasileiros com prevalência elevada de malária).<br>
                    » Febre Amarela: quem esteve em região onde há surto da doença deve aguardar 30 dias para doar, após o retorno; se tomou a vacina, deve aguardar 04 semanas; se contraiu a doença, deve aguardar 6 meses após recuperação completa (clínica e laboratorial).<br>
                    » Coronavírus:<br>
                    · Candidatos que apresentaram diagnóstico ou suspeita de coronavírus estão aptos a doar 10 dias após a completa recuperação.<br>
                    · Candidatos assintomáticos com teste positivo estão aptos a doar após 10 dias da data de realização do teste.<br>
                    · Candidatos que tiveram contato com casos positivos de contaminação por coronavírus estão aptos a doar após 7 dias do último contato.<br>
                    · Candidatos que fizeram isolamento voluntário ou por orientação médica estão aptos a doar após o término do tempo de indicação de isolamento.<br>
                    · Profissionais de saúde estão aptos a doar, desde que estejam fazendo uso correto de EPI.<br>
                </span>
                <br>
                <h1>Principais impedimentos definitivos</h1>
                <span>
                    » Hepatite após os 11 anos de idade. *<br>

                    » Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.<br>

                    » Uso de drogas ilícitas injetáveis.<br>

                    » Malária.<br>
                    » Doença de Parkinson.<br>

                    * Hepatite após o 11º aniversário: Recusa Definitiva. Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva. Hepatite por Medicamento: apto após a cura e avaliado clinicamente. Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.<br>
                </span>

            </div>
            
        </div>
    </div>
}
