@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/imgs/about-us.svg" />
            </div>
            <div class="col">
                <strong>Sobre nós</strong>
                <span>
                    A Unimed acredita na sinergia, na singularidade, na <br> interdependência e na união, ampliando seu papel <br> no mundo por meio do comprometimento com as <br> transformações sociais.
                    <br>
                    Foi o propósito de cuidar da saúde das pessoas <br> que impulsionou a união de médicos e criou um <br> sistema com um jeito de cuidar muito especial: <br> o Jeito de Cuidar Unimed, que busca inovação e <br> melhorias contínuas para fazer o cuidado ser per<br>cebido por todos os nossos públicos e pela sociedade.
                </span>
            </div>
        </div>
    </div>

  }
