@using Microsoft.AspNetCore.Identity
@using Projeto_Integrador.Areas.Identity.Data

@inject SignInManager<UsuarioModel> SignInManager
@inject UserManager<UsuarioModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white-50">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-white-50" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white-50" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
