@model Projeto_Integrador.Models.Models.CadLocalDoacao

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-header d-flex justify-content-between align-items-center bg-light">
    <h5 class="modal-title">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm())
{
    <form asp-action="Edit" class="container mt-4 ">

        <div class="row m-0">
            <div class="row-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Id" class="form-control mb-2" hidden />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nome" class="control-label mt-4"></label>
                    <input asp-for="Nome" class="form-control mb-2" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control mb-2" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control mb-2" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logradouro" class="control-label"></label>
                    <input asp-for="Logradouro" class="form-control mb-2" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control mb-2" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control mb-2" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>
            <div class="row-md-6">
                <div class="form-group">
                    <label asp-for="Cep" class="control-label"></label>
                    <input asp-for="Cep" class="form-control mb-2" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control mb-2" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control mb-2" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="row-md-6">
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control mb-2" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ativo" class="control-label"></label>
                <select asp-for="Ativo" asp-items="Html.GetEnumSelectList<RespostaSimNao>()" class="form-control mb-5">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>

            <div class="modal-footer bg-light">
                <div class="ms-auto">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
    </form>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
